<div class="info">
	<div class="separator left clearfix"></div>
	<div class="ttTable left two-cols">
		<div class="ttRow title">
			<div class="ttCell"><span>key</span></div>
			<div class="ttCell "><span>action</span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell"><span>space</span></div>
			<div class="ttCell"><span>jump</span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell"><span>shift</span></div>
			<div class="ttCell"><span>zigzag</span></div>
		</div>		
	</div>
</div>