<div class="stats">
	<div class="separator left clearfix"></div>
	<div class="ttTable left two-cols">
		<div class="ttRow">
			<div class="ttCell"><span>time</span></div>
			<div class="ttCell text-right"><span>{{this.time}}</span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell"><span>distance</span></div>
			<div class="ttCell text-right"><span><span>{{this.distance}}</span><span>&nbsp;px</span></span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell"><span>shoots</span></div>
			<div class="ttCell text-right"><span>{{this.shoots}}</span></div>
		</div>
		<div class="ttRow">
			<div class="ttCell"><span>killed</span></div>
			<div class="ttCell text-right"><span>{{this.killed}}</span></div>
		</div>
	</div>
</div>
