<div class="menu noSelect" data-skin="skin-1">
	<div class="header">kill them all</div>
	<div class="container"></div>
	<div class="color-select first" data-skin="skin-1"><span class="circle"></span></div>
	<div class="color-select second" data-skin="skin-2"><span class="circle"></span></div>
	<div class="color-select third" data-skin="skin-3"><span class="circle"></span></div>
</div>  